.background_img {
    background-image: url('https://cdn.prod.website-files.com/5e3560ac9615a2309b6fb86c/654285e5ab26e8e2aff90db8_svg_dot.svg');
    background-repeat: repeat;
    background-size: auto;
}

.bggradient {
    background-image: url('/public/images/gradient.svg');
    background-repeat: no-repeat;
    background-size: auto;

}


.bg_pattern_blur {
    background-image: url('/public/images/blur_pattern.svg');
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: top center;
}

.bg_pattern_box {
    background-image: url('/public/images/bg_pattern6.svg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center center;
}



.text-gradient_indigo-purple {
    /* Define the gradient */
    background: linear-gradient(90deg, rgb(31, 104, 194), rgb(244, 92, 244));

    /* Clip the background to the text */
    -webkit-background-clip: text;
    background-clip: text;

    /* Make the text color transparent, so the gradient shows through */
    color: transparent;

    /* Your font styling */
}