.dark .dark\:bg-img-dark {
  background-image: url("/images/content-carousel/darkimage1.jpg");
  background-size: cover;
  /* Ensure the image covers the full area */
  background-position: center;
  /* Center the background image */
  background-repeat: no-repeat;
  /* Prevent the image from repeating */
}

.bg-img {
  background-image: url("/images/content-carousel/image1.jpg");
  background-size: cover; /* Ensure the image covers the full area */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
}